* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Saira Extra Condensed', sans-serif;
}

.menu__todo {
    display: relative;
    border: 1px solid;
    width: 100%;
    height: 100%;
    text-align: center;
}

.menu__header {
    height: 10%;
}

.menu__menu {
    height: 100%;
    float: right;
    border: 1px solid;
}

.menu__menu .bar {
    border: 1px solid;
}

.menu__foto {
    height: 100%;
    float: left;
    border: 1px solid;
}

.menu__text {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    height: 80%;
    clear: left;
    border: 1px solid;
}

.menu__footer {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    border: 1px solid red;
}